#findPassword-full-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 200px 0;
}
#findPassword-full-box > section:nth-child(1){
    margin: 80px auto 30px auto;
}
#findPassword-full-box > section:nth-child(3){
    display: flex;
    gap: 20px;
    padding: 20px;
}

#slides {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    width: 455px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
#findPassword-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.findPassword-mid-box {
    float: left;
    text-align: center;
    min-width: 410px;
    height: 400px;
    /* border: 2px solid green; */
    margin: 10px;
    top: 0;
    left: 0;
}
#findPassword-bottom-box a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}


.findPassword-mid-box > div:nth-child(1) {
    font-size: 15px;
    margin: 50px 0 10px 0;
    padding: 20px;
}
.findPassword-mid-box > div:nth-of-type(2) {
    position: relative;
}
.findPassword-mid-box > div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}
.findPassword-mid-box > div:nth-of-type(4) {
    margin-top: 100px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.findPassword-mid-box > div:nth-of-type(4) a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.input-message {
    pointer-events: none;
    position: absolute;
    left: 40px;
    top: 12px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.input-message-move {
    pointer-events: none;
    position: absolute;
    left: 40px;
    top: -10px;
    font-size: 15px;
    color: #1A73E8;
}
.findPassword-mid-box > div:nth-child(2) input {
    width: 365px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}


#findPassword-top-logo {
    font-size: 28.43px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.find-next {
    font-size: 16px;
    color: white;
    border: none;
    background-color: #1A73E8;
    border-radius: 5px;
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

#cMessage {
    font-size: 14px;
    letter-spacing: -0.5px;
    position: absolute;
    top: 15px;
    right: 40px;
    pointer-events: none;
}


.confirm {
    color: #1A73E8;
}
.error {
    color: #d93025;
}
.confirm-border {
    border-color: #1A73E8;
    border: 2px solid #1A73E8;
}
.error-border {
    border-color: #d93025;
    border: 2px solid #d93025;
}

