<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- SqlSessionTemplate 관련 설정 -->
	<settings>
			<!-- insert / update 진행 시 null 이 포함되어있는 경우
			Mybatis는 기본적으로 error를 발생시키지만
			해당 구문이 작성되면 지정된 value 값을 insert/update 시킨다.
			** 소문자 null은 오류 발생!! 무조건 대문자 NULL **  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- 별칭 작성 부분 -->
	<typeAliases>
		<!-- VO 클래스의 패키지명 + 클래스명 모두 작성하는것이 불편하기 때문에 짧은 별칭 부여 -->
		<typeAlias type="com.turtle.www.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.turtle.www.member.model.vo.Certification" alias="certification"/>
		
		<typeAlias type="com.turtle.www.projectMember.model.vo.ProjectMember" alias="projectMember"/>
		<typeAlias type="com.turtle.www.project.model.vo.Project" alias="project"/>
		
		<typeAlias type="com.turtle.www.chat.model.vo.ChatRoom" alias="chatRoom"/>
		<typeAlias type="com.turtle.www.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/>
		<typeAlias type="com.turtle.www.chat.model.vo.ChatMessage" alias="chatMessage"/>
		
		<typeAlias type="com.turtle.www.calendar.model.vo.Calendar" alias="calendar"/>
		<typeAlias type="com.turtle.www.payment.model.vo.Pay" alias="pay"/>
		
		<typeAlias type="com.turtle.www.memo.model.vo.Memo" alias="memo"/>
		
		<typeAlias type="com.turtle.www.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.turtle.www.board.model.vo.BoardDetail" alias="boardDetail"/>
		
	</typeAliases>
	
	<!-- SQL이 작성되는 mapper 파일 위치를 등록 -->
	<mappers>
		<!-- <mapper resource="mapper 파일 경로"
		경로를 작성하는 기준(시작지점)은 src/main/resources 폴더-->
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/projectMember-mapper.xml"/>		
		<mapper resource="/mappers/project-mapper.xml"/>		
		<mapper resource="/mappers/calendar-mapper.xml"/>
		<mapper resource="/mappers/pay-mapper.xml"/>
		<mapper resource="/mappers/memo-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
	</mappers>

</configuration>
