#memo-area {
 	display: flex;
 }

 .memoDetail {
	width: 200px;
	height: 230px;
	margin-right: 5px;
 }

.memoInfo {
	height: 30px;
	
}

.profile-image > img {
	width: 20px;
	height: 20px;
}

.memoContent {
  
  height: 200px;
  
  overflow: hidden;
}
.memoContent:focus {
	outline: none;
}

.memoContent.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
  }