
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Nunito", sans-serif; */
}

.bi-list {
  display:none;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 25px 0;
  overflow: hidden;
}

/* 자주묻는질문/ Contact Us 큰제목 */
.container > .section-header {
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 100px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color:   #012970;
}

.section-header p span {
  color:#a1b8be;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}



/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}


.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}


.faq .accordion-button:hover {
  color: #317563;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

/* 클릭하여 내려갈 때 색깔변함 */
.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #317563;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}


.contact {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 50px 0px 50px 0px;
}


.textfaq {
  text-align: left;
  /* padding: 50px 0px 50px 0px; */
  margin-left : 50px;
}


.textfaq h3 {
  font-weight: 700;
  margin-top: 38px;
  margin-bottom: 34px;
}


.textfaq h5 {
  margin-bottom: 0rem;
  font-weight: 530;
  color: #707070;
  
}

.textfaq2 h4 {
  font-weight: 700;
}

/* 이모티콘과 글씨사이 간격 */
.textfaq2 h4 i {
  margin-right: 10px;
}

.textfaq2 p {
  margin-top: 10px;
  margin-bottom: 40px;
  padding-bottom: 13px;
  border-bottom: 2px solid #dee2e6;
  font-weight: 600;
  color: #707070;
}