* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}


.bi-list {
  display:none;
}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 25px 0;
  overflow: hidden;
}

.container > .section-header {
  text-align: left;
  padding: 50px 0px 50px 0px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color:   #012970;
}

.section-header p span {
  color:#a1b8be;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.blank1 {
  height: 90px;
}


.gy-4 {
  margin: 0px 90px 90px 90px;
}

.intro > p {
  margin-bottom: 0rem;
}

.intro {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}


/* 박스크기 정렬 (기본값 bootstrap-grid.css) */
/* .gy-4 > .col-sm-4 {
  width: 32%;
  margin-left: 3px;
  margin-right: 3px;
}  */


/* 요금제 각 박스 설정 */
.pricing .box {
    margin: 10px;
    /* padding: 20px 20px; */
    background: #fff;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px #1d6d656b;
    /* box-shadow: 0 0 0.5em 0.5em #1d6d656b;  */
    /* border-radius: 4px; */
    position: relative;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .pricing .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .pricing h3 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .pricing .price {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing .price span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing img {
    padding: 30px 40px;
  }
  
  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  
  .pricing ul li {
    padding: 0px 20px 10px 20px;
    /* padding-bottom: 10px; */
  }

  /* 체크이모티콘과 글씨 사이 간격 */
  .pricing ul li .fa-check {
    padding-right: 5px;
  }
  
  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .btn-buy {
    display: inline-block;
    padding: 10px 90px 10px 90px;
    margin: 20px;
    border-radius: 4px;
    color: #a1b8be;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #a1b8be;
    text-decoration: none;
  }
  
  
  .pricing .btn-buy:hover {
    background: #a1b8be;
    color: #fff;
  }
  
  .pricing .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #4154f1;
    color: #fff;
  }
  