
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}



.bi-list {
  display:none;
}


/* 폰트(프리텐다드) */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features {
  display: flex;
}


.features .feture-tabs {
	 margin : auto;
  margin-top: 180px;
  margin-bottom: 50px;

  /* padding: 12px; */
  /* margin-left: 12px; */
  /* margin-right: 12px; */
}


.feture-tabs .col {
  margin-left: 50px;
  margin-right: 50px;
}

.col > ul {
  display: flex;
  margin-top: 50px;
}

.col > ul > li {
  flex-basis: 33.333333%;
  text-align: center;
}

.col-lg-4 {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}


.tab-pane > pre {
  white-space: pre-line;
  margin : 50px;
  line-height : 20px;
}


.features .feture-tabs .nav-pills {
  border-bottom: 2px solid #eee;
}

.features .feture-tabs .nav-link {
  background: none;
  font-size: 17px;
  font-weight: 600;
  color: #7F7F7F;
  padding: 12px 0;
  /* margin-right: 25px; */
  /* margin-bottom: -2px; */
  margin: 0 0 -2px auto;
  border-radius: 0;
}

.features .feture-tabs .nav-link.active {
  color: #317563;
  border-bottom: 3px solid #317563;
}



@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}


@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}
