body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
  }

  .container {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }

  .details {
    margin-bottom: 30px;
  }

  .details p {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .details p span {
    text-align: right;
  }

  .reason {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .back-button-container {
    text-align: center;
  }

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 4px;
  }

  .horizontal-line {
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
  }