
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

/* a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 0px 0;
  font-size: 14px;
}



.footer .footer-top {
  /* background: white url(../img/footer-bg.png) no-repeat right top; */
  background: #7F7F7F;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  /* padding: 60px 0 30px 0; */
}

.footer .footer-top .footer-info {
  margin-bottom: 0;
}



.footer .footer-top .footer-info .logo {
  line-height: 2.5;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  text-decoration: none;
}

.footer .footer-top .footer-info .logo img {
  max-height: 50px;
  margin-right: 14px;
}



.footerLogo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #D9D9D9;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}



.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  color: #D9D9D9;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}


.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
  padding-bottom: 30px;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}


.copyright {
  margin-bottom : 40px;
}

.footer .copyright a {
  /* text-align: center; */
  padding-top: 30px;
  color: #D9D9D9;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #3e3e3e;
}

