* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
}
a {
	text-decoration: none;
	color: black;
}

.board-area {
	width: auto;
	
}

.board {
	display: flex;
	height:25px;
	overflow: hidden;
	
	
}

.board:hover {
	font-weight: bolder;
}

.edit-board-area {
	flex-basis: 55%;
	height: 100%;
	display: flex;
}

.add-board {
	flex-basis: 5%;
}
.add-board-btn {
	background-color: transparent;
	font-size: 24px;
	color: rgba(55, 53, 47, 0.35);
	border: none;
	
}
.add-board-btn:hover {
	cursor: pointer;
	color: black;
}
.edit-boardTitle-btn, .close-edit-boardTitle-btn{
	border: none;
	background-color: transparent;
	color: rgba(55, 53, 47, 0.35);
	font-size: 18px;
	margin-left: 5px;
	
}
.edit-boardTitle-btn:hover, .close-edit-boardTitle-btn:hover {
	cursor: pointer;
	color: black;

}
.boardTitle {
	flex-basis: 80%;
	display: inline-block;
	height: 30px;
	justify-content: center;
	
}
.emoji-btn  {

}
.emoji-btn > i {
	
}
.edit-boardTitle {
	flex-basis: 15%;
}



.board-info {
	display: flex;
	flex-basis: 40%;
	height: 100%;
}

.board-info > div:nth-of-type(1) {
	width: 100px;
}

.profile-image > img {
	width: 20px;
	height: 20px;
}

.delete-board {
	flex-basis: 5%;
}
.eventDate {
	display: flex;
}



/* hover 시에 이름 확인 */
.user-profile {
	display: block;
}
.user-name {
	visibility: hidden;
	background: black;
	color: white;

}
.profile-image:hover  ~ .user-name{	
	visibility: visible;
}
