* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.boardDetailBoard-area {
    
    width: 560px;
    height: 700px;
}

.boardTitle {
    font-size: large;
}

.regInfo {
    display: flex;
}

.regMember {
    flex-basis: 50%;
    display: flex;
}

.regMemberImage {
    width: 30px;
    height: 30px;
}

.regDate-area {
    flex-basis: 50%;
    display: flex;
    
}
.regDate-area > div {
    color: rgba(55, 53, 47, 0.35);
}
.updateInfo {
    display: flex;
}

.updateMember {
    flex-basis: 50%;
    display: flex;
}

.updateMemberImage {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.updateDate-area {
    flex-basis: 50%;
    display: flex;
}
.updateDate-area > div {
    color: rgba(55, 53, 47, 0.35);
}
.eventDate {
    display: flex;
    
}
.eventStartDate {
    border: none;
}
.eventEndDate {
    border: none;
}
.edit-boardDetail-area {
    display: flex;
    width: 560px;
}

.add-boardDetail {
    flex-basis: 6%;
    width: 30px;
}

.boardDetail {
    flex-basis: 88%;
    width: 500px;
    
}

.updateDetailMember {
    flex-basis: 6%;
    width: 30px;
}

.boardDetailProfileImage {    
    width: 30px;
    height: 30px;
}