p {
    margin: 0;
}

.board-area {
    width: 560px;
    height: 700px;
}

.boardTitle {
    font-size: large;
}

.regInfo {
    display: flex;
}

.regMember {
    flex-basis: 50%;
    display: flex;
}

.regMemberImage {
    width: 30px;
    height: 30px;
}

.regDate-area {
    flex-basis: 50%;
    display: flex;
}

.updateInfo {
    display: flex;
}

.updateMember {
    flex-basis: 50%;
    display: flex;
}

.updateMemberImage {
    width: 30px;
    height: 30px;
}

.updateDate-area {
    flex-basis: 50%;
    display: flex;
}

.eventDate {
    display: flex;
}

.edit-boardDetail-area {
    display: flex;
    width: 560px;
}

.add-boardDetail {
    flex-basis: 6%;
    width: 30px;
}

.boardDetail {
    flex-basis: 88%;
    width: 500px;
    
}

.updateDetailMember {
    flex-basis: 6%;
    width: 30px;
}

.boardDetailProfileImage {    
    width: 30px;
    height: 30px;
}