
/* 채팅창 관련 */
.chatting-area{ 
	margin:auto;
	height: 100%;  
	max-width : 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.display-chatting{
	max-width: 100%;
	height: 450px;
	border : 1px solid black;
	overflow: auto;
	list-style : none;
	padding : 10px 10px;
	margin: 0;
	border-bottom: none;
}

.chat{
	display: inline-block;
	border-radius: 5px;
	padding : 5px;
	background-color: #eee;
	
	position: relative;
	
}


.input-area{
	width: 100%;
	display: flex;
	
}

#inputChatting{
	width : 90%;
	resize : none;
}

#send{
	width : 10%;
	font-size: 20px;
	background-color: rgb(200, 255, 200);
	
	
}

.chatDate{
	font-size: 9px;
}

#back-area{
	text-align: right;
	margin-bottom : 10px;
}


.exit{
	text-align: center;
}

.exit > p{
	background-color: rgba(0,0,0, 0.3);
}


.chat-exit{
width: 100%;
text-align: center;
background-color: black;
color: white;
}

.user-img > i {
	font-size: 30px;
}
.chat-user > b{
	

}
.chatDate {
	font-size: 12px;
}
.chatCalender {

	text-align: center;
}
/*채팅 위치로 구별하기*/
#myChat{	
	text-align: right;
}
#myChat > p {
	background-color: rgb(200, 255, 200);
}

/* 최대크기 설정하고 넘어갈시에는 아랫줄로 이동하는것 */
.chat {
	max-width: 200px;
	display: inline-block;
	word-break: break-all;
	
}