* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    z-index: 992;
   
}
/*section 구성*/
section {
    text-align: center;
    margin-top: 22vh;
   
    
}


.section1 {
    
    margin-top: 12vh;
    font-size: 48px;
}
.section1 i {
    padding-bottom: 30px;
    box-shadow: 0 3px 3px -3px black;
}
.section2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 6vh;
    position: relative;
    
}
.section2 > p {
    margin-right: 160px;
    margin-bottom: 5px;
}
.section2 input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: none;
    background-color: #F8F8F8;
    border-radius: 10px;
    margin-left: 5px;
   
}
.section2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.projectEmoji {
   
    font-size: 25px;
    padding: 5px;
    border-radius: 20px;
}
.projectEmoji:hover  > i{
    cursor: pointer;
  
    border-radius: 20px;
}
.section3 {
    display: flex;
    justify-content: center;
    font-size: 18px;
   
    margin-top: 30px;
    margin-right: 60px;
}
.section3 > p {
    font-weight: bold;
}
.btnt {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(77, 77, 77);
    color: white;
    height: 30px;
    display: flex;
  
    
}
.btnt > span {
    font-size: 12px;  
    
}
.btnt > i {
    font-size: 14px;
    padding-top: 2px;
    
}
.btnt:hover {
    background-color: black;
    cursor: pointer;
}


/* 멤버초대 팝업창 */
.pop {
    position: absolute;
    z-index: 998;
    top: 0;
    width: 100%;
    min-height: 100%;
    display: none;
    overflow: hidden;
    
}
.pop > div{
    
    margin: auto;
    margin-top: 12vh;
    width: 640px;
    height: 660px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 3px -3px black;
    position: relative;
    z-index: 2;
    text-align: center;
}
.black {
    background-color: rgba(0,0,0,0.6);
}
.pop-content >div:nth-child(1){
    width: 100%;
    height: 10%;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 3px 3px -3px black;
    padding-top: 3%;

}

.pop-content >div:nth-child(2) {
    width: 100%;
    height: 90%;
    display: flex;
}

.pop-content >div:nth-child(2) >div:nth-child(1) {
    width: 60%;
    border-right: 1px solid rgb(174, 174, 174);
    
}
.pop-content >div:nth-child(2) >div:nth-child(2) {
    width: 40%;
    
    
}
.searchmember {
    font-size: 14px;
    width: 220px;
}


.select {
    position: relative;
    margin-bottom: 10px;
}
.select i {
    position: absolute;
    top: 40%;
    left: 24%;
}
.select input {
    
    margin-top: 10px;
    padding: 5px 5px 5px 30px;
    border-radius: 5px;
    border: 1px solid #a1b8be;
    
}
.hidden {
    display: none;
}
.user:hover {
    background-color: #eeeaf5;
}
.user > div{
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 30px;
 
}



.user-check {
    font-size: 20px;
    margin-right: 10px;
}
.user >div >a {
    font-size: 30px;
    margin-right: 5px;
}
.user-name {
    font-weight: bold;
    margin-right: 5px;
}
.user-email {
    font-size: 12px;
}
.user-plus {
    color : #bd9ff0;
}
.user-plus:hover {
    color: #834edf;
}


.user-checked {
    align-items: center;
   padding-top: 4vh;
   position: relative; 
   max-height: 500px;
   overflow: auto;
   position: relative;

}
.user-checked-name {
    margin: 0px 10px;
}
.user-checked > div{
    width: 50%;   
    margin: 0 auto;
    border-radius: 8px;
    padding: 4px 0px;
    background-color: #eeeaf5;
    border: 1px solid #eeeaf5;
}
.user-checked > div  {
   margin-top : 10px;
   box-sizing: border-box;
   
}
.user-checked > div > a {
    color: rgb(151, 151, 151);
}
.user-checked > div > a:hover {
    color: #bd9ff0;
}
.user-checked > div > i {
    color: #bd9ff0;
    font-size: 18px;

}

.user-checked > div:hover {
    border: 0.1px solid #bd9ff0;
}
.user-checked > div > span {
    font-weight: bold;
}

.next-btn {
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    margin-bottom: 5vh;
}
.btn > a {
    font-size: 28px;
    
}
.uc-btn {
    width: 120px;
    background-color: rgb(77, 77, 77);
    color : white;
    display: block;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    bottom: 5%;
   
    left: 73%;

}
.uc-btn:hover {
    background-color: black;
}
.next-btn > button {
    margin: 0 auto;
    border: transparent;
    display: block;
    width: 300px;
    background-color: rgb(77, 77, 77);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    
}

.next-btn > button:hover {
    background-color: black;
}


.invited-member {
    overflow: auto;
    margin: 0 auto;
    width: 320px;
    max-height: 200px;
    margin-top: 20px;
    position: relative;
    

}
.invited-member > div {
    display: flex;
    background-color: #F8F8F8;
    font-size: 20px;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 10px;
    
}
.invited-member i {
    font-size: 30px;
}
.user-email2 {
    font-size: 15px;
    padding-top: 3px;
    margin-left: 20px;
}
.user-name2 {
    font-weight: bold;
    margin-left: 15px;
}
.user-img2 {
    border-radius: 20px;
}
.note-frame {
   
    max-width: 600px;
    margin: 0 auto;
}



.invited-member {  
    margin-bottom: 40px;
}

.note-editing-area {
    text-align: start;
}


/* #load > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
} */
@media screen and (max-width:768px) {
 
   
    .section1 i{
        font-size: 36px;
    }
    .pop > div {
        width: 540px;
        height: 560px;
    }
    .select i {
    position: absolute;
    top: 43%;
    left: 20%;
}
}
@media screen and (max-width:320px) {

}