<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMemberMapper">
	
	<resultMap type="projectMember" id="projectMember_rm">
		<id property="pmNo" column="PM_NO"/>
		
		<result property="projectNo" column="PROJECT_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="projectManager" column="PROJECT_MANAGER"/>
		<result property="profileColor" column="PROFILE_COLOR"/>
		<result property="pmST" column="PM_ST"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="profileImg" column="PROFILE_IMG"/>
	</resultMap>
	
	
	<!-- pmNo 조회 -->
	<select id="selectPmNo" resultType="_int">
		SELECT PM_NO
		FROM PROJECT_MEMBER
		WHERE MEMBER_NO = ${memberNo}
		AND PROJECT_NO = ${projectNo}
	</select>
	
</mapper>
